/* style.css */
/* 文字の色、大きさ、位置をカスタマイズ */

.custom-heading {
    color: #886771; /* 文字の色を青色に設定 */
    font-size: 2rem; /* 文字の大きさを設定 */
    text-align: center; /* 文字を中央に配置 */
    margin-top: 3vh; /* 上部に余白を追加 */
    margin-bottom: 2%;
  }
  

.round-image {
    border-radius: 50%;
    border: 2px solid #E5E4E4;
    overflow: hidden;
    margin-bottom: 2%;
  }

.custom-button {
    background-color: #E5E4E4; /* ボタンの背景色 */
    color: #886771; /* ボタンの文字色 */
    border-radius: 8px; /* ボタンの角を丸くする */
    padding: 10px 20px; /* ボタンの内側の余白 */
    text-transform: uppercase; /* 文字を大文字にする */
    font-weight: bold; /* 文字を太字にする */
    margin-bottom: 2%; /* ボタンの下に2%の余白を追加 */
  }

  /* ボタンホバー時のスタイル */
  .custom-button:hover {
    background-color: #E5E4E4; /* ホバー時の背景色 */
    opacity: 0.8; /* ホバー時に少し透明にする */
  }

  .scroll-container {
    max-height: 500px; /* 必要に応じて高さを調整 */
    max-width: 100%;
    overflow-y: scroll; /* 縦方向のスクロールを有効にする */
    overflow-x: hidden; /* 横方向のスクロールを無効にする */
    padding: 0px; /* 内側の余白 */
  }
  
  /* スクロールバーのスタイルを非表示にする */
  .scroll-container::-webkit-scrollbar {
    width: 0; /* スクロールバーの幅を0にする */
    height: 0; /* 横スクロールバーも隠す */
  }
  
  .scroll-container {
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
  }
  
  
  