.container {
  width: 80vw;
  margin: 0 auto; /* Centralize the container */
}

.custom-heading {
  color: #886771;
  font-size: 2rem;
  text-align: center; /* Center-align heading */
  margin-top: 20px;
  margin-bottom: 2%;
}

.main {
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 15px;
  text-decoration: underline;
  text-align: center; /* Center-align text */
}

.text-center {
  text-align: center; /* Center-align text */
}

.highlight {
  font-size: 22px;
  color: red;
}

.qanda {
  font-size: 25px;
  padding-top: 40px;
  padding-bottom: 15px;
  text-decoration: underline;
  text-align: center; /* Center-align Q&A */
  font-weight: bold;
}
