/* 文字の色、大きさ、位置をカスタマイズ */
.toukou {
    font-size: 2rem; /* 文字の大きさを設定 */
    text-align: center; /* 文字を中央に配置 */
    background-color: antiquewhite;
    border-radius: 15px;
  }



.view-link{
  display: none;

}
  
.address{
  display: none;
}