.currentLocationButton{
  position: fixed;
  font-size: 3rem; 
  bottom: 10%;
  right: 5%;
  transition: transform 0.2s ease; /* アニメーションの設定 */
  }
  .currentLocationButton:active {
    transform: scale(0.8); /* アイコンを縮小 */
  }