.currentLocationButton{
  position: fixed;
  font-size: 3rem;
  bottom: 10%;
  right: 3%;
  padding: 10px;
  transition: transform 0.2s ease; /* アニメーションの設定 */
  background-color: #886771; /* 背景をほぼ黒にする */
  color: #E5E4E4;
  border-radius: 15px;

  }
  .currentLocationButton:active {
    transform: scale(0.8); /* アイコンを縮小 */
  }