.header {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    border-bottom: 0px; /* gray-300 */
    width: 100%;
    display: flex;
    justify-content: center; /* 中央揃え */
    align-items: center;
    background-color: rgba(128, 128, 128, 0.6); /* 透明度50%のグレー */
    height: 60px;
    margin: 0px;
}

.navList {
    display: flex; /* フレックスボックスで配置 */
    position: absolute;
    bottom: 0;
    justify-content: space-between; /* 等間隔に配置 */
    align-items: center; /* 垂直中央揃え */
    padding: 0;
    margin: 0;
    list-style: none; /* リストスタイルを無効に */
    width: 100%; /* リストの幅を100%に */
    height: 60px;
}

.leftItem {
    display: flex; /* 各アイテムをフレックスボックスに */
    align-items: center; /* 垂直中央揃え */
    justify-content: center; /* 水平中央揃え */
    padding: 1% 0 0%; /* 左右の余白を自動に */
    flex: 1; /* 各アイテムを均等に分配 */
}

.centeredItem {
    display: flex; /* フレックスボックスで配置 */
    align-items: center; /* 垂直中央揃え */
    justify-content: center; /* 水平中央揃え */
    padding: 0 0%; /* 左右の余白を自動に */
    margin: 0 20%; /* 左右の余白を自動に */
    flex: 1; /* 均等にスペースを分配 */
}


.centerIcon{
    font-size: 50px;

    align-items: center; /* 垂直中央揃え */
    justify-content: center; /* 水平中央揃え */
}

.rightIcon{
    font-size: 58px;
    align-items: center; /* 垂直中央揃え */
    justify-content: center; /* 水平中央揃え */
}

.rightItem {
    display: flex; /* 各アイテムをフレックスボックスに */
    align-items: center; /* 垂直中央揃え */
    justify-content: center; /* 水平中央揃え */
    padding: 0 0%; /* 左右の余白を自動に */
    flex: 1; /* 各アイテムを均等に分配 */
}

.iconLink {
    width: 50px;
    height: 50px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none; /* Tabキーでのフォーカス時のアウトラインを消す */
    padding: 0; /* ボタンの内側の余白 */
    border-radius: 4px; /* ボタンの角を丸くする */
    background-color: transparent; /* ボタンの背景色 */
    transition: background-color 0.2s; /* ホバー時の変化のアニメーション */
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* ホバー時の背景色 */
}
