.controls {
  position: fixed;
  top: 1%; /* 上からの距離 */
  left: 3%; /* 左からの距離（中央寄せ） */
  z-index: 10; /* 他の要素の上に表示 */
  height: 45px;
  width: 70%;
  font-size: 100%;
  color: black;
  border-radius: 15px; /* 角を丸くする */
  padding-left: 1rem;
  background: #E5E4E4 no-repeat 2% ;
}

.mapContainer {
  position: relative; /* 検索ボックスを絶対配置するために必要 */
  width: 100%;
  height: 100vh; /* 高さをビュー全体に設定 */
}

.toggleButton {
  position: fixed;
  z-index: 10;
  font-size: 3rem; 
  bottom: 20%;
  right: 3%;
  background-color: rgba(0, 0, 0, 0.9); /* 背景をほぼ黒にする */
  color: rgb(255, 255, 255);
  border-radius: 15px;
}