/* style.css */

.custom-heading {
  color: #886771;
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 2%;
}

.tools {
  font-size: 25px;
  padding-top: 40px; 
  padding-bottom: 15px;
  text-decoration: underline;
}

.image-row {
  display: flex;
  gap: 40px; /* 画像同士の間隔を調整 */
  justify-content: center; /* 中央に揃える */
  margin-top: 20px; /* 上部に余白を追加 */
}

@media screen and (max-width: 768px) {
  .image-row {
    flex-direction: column; /* 画像を縦に並べる */
    align-items: center; /* 中央に揃える */
  }

  .Image, .nextjs, .supabase, .tailwindcss, .github {
    height:auto;
    width: 15vw; /* ビューポート幅の30%に設定 */
    height: 15; /* 幅と同じ比率に設定 */
    object-fit: contain;
  }
}

@media screen and (max-width: 480px) {
  .Image, .nextjs, .supabase, .tailwindcss, .github {
    width: 20vw; /* ビューポート幅の40%に設定 */
    height: 15vw; /* 幅と同じ比率に設定 */
    object-fit : contain;
  }
}
