.round-image {
    border-radius: 50%;
    border: 2px solid #E5E4E4;
    overflow: hidden;
    margin-bottom: 2%;
  }

  .custom-buttonYes {
    width: 150px;
    padding: 10px 20px;
    margin: 0 50;
    background-color: #767373;
    color: white;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-buttonYes:hover {
    background-color: rgb(118, 115, 115,0.6); /* ホバー時の色 */
}

.custom-buttonNo {
    width: 150px;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #E5E4E4; 
    color: #886771;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-buttonNo:hover {
    background-color: rgb(229, 228, 228,0.6);
}
.logout{
    color: #886771;
    font-size: 1.95rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;


}
